<head>
<div class="px-3 py-2 bg-secondary text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
        {{title}}          
        </h2>
    <a type="button" class="btn btn-success filled " onClick="getEvent()" class="nav-link text-white">
    Notifications
    </a>        
    <a type="button" class="btn btn-danger filled marginLeft " href="/" class="nav-link text-white">
    Logout
    </a>
                
    </div>
    </div>
</div> 
</head>
</br>
<div class="jumbotron jumbotronManufacturer jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Manufacturer Dashboard</h1>
    <p class="lead"> 
    Various manufactures make different kind of electronic Appliances according to the need</p>
  </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="col-md-3 col-sm-12"></div>

        <div class="col-md-6 col-sm-12">

            <div class="card card-shadow">
                <div class="card-header" style="background-color:tomato">
                    <legend class="text-center" data-bs-toggle="collapse" href="#collapseQueryAdd" role="button" aria-expanded="false" aria-controls="collapseExample">Add a new Appliance</legend>
                </div>
                <div class="form-modal">
                <div class="card-body collapse" id="collapseQueryAdd">
                    <form id="manForm">
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Appliance Number</a>
                            <label for="applianceId" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="applianceId" aria-describedby="applianceId" placeholder="001">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Appliance Type</a>
                            <label for="type" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="type" aria-describedby="type" placeholder="Fan">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Description</a>
                            <label for="description" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="description" aria-describedby="description" placeholder="4 blades">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Color</a>
                            <label for="color" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="color" aria-describedby="color" placeholder="Black">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Date of manufacture</a>
                            <label for="dateOfManufacture" class="form-label mt-4"></label>
                            <input type="date" class="form-control" onfocus="(this.type='date')" id="dateOfManufacture" aria-describedby="dateOfManufacture" placeholder="22/09/2021">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Manufacturer Name</a>
                            <label for="manufactureName" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="manufactureName" aria-describedby="manufactureName" placeholder="Havells">
                            </div>
                        </div>      
                        </br>
                        <div class="row" >
                            <div class="col-md-12 col-sm-12" >
                                <button type="button" onclick="ManWriteData(event)" class="btn btn-secondary rounded-pill">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-12"> 
        </div>

    </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-shadow">
                <div class="card-header" style="background-color:tomato">
                    <legend class="text-center" data-bs-toggle="collapse" href="#collapseQueryRead" role="button" aria-expanded="false" aria-controls="collapseExample">Get Details of a Specific Appliance</legend>
                </div>
                <div class="card-body collapse"  id="collapseQueryRead">
                    <form>
                        <div class="row .navbar-brand" >
                            <div class="col-md-12 col-sm-12" class="form-group">
                            <a>Appliance Number</a>
                            <label for="applianceId" class="form-label mt-4"></label>
                            <input type="text" class="form-control" id="applianceId" aria-describedby="applianceId" placeholder="001">
                            </div>
                        </div>
                        </br>
                        <button type="submit" onclick="ManQueryData(event)" class="btn btn-fill btn-secondary rounded-pill">Submit</button></br>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>
</br>

<div class="container-fluid">
    <div class="row rowBox" >
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color:tomato">
                    <legend class="text-center" >Appliance in Factory</legend>
                </div>
                <div class="card-body">
                   <div class="table-container">
      <table class="table" style="width:100%">
          <thead id="colored-table">
              <th>ApplianceId</th>
              <th>Type</th>
              <th>Description</th>
              <th>Color</th>
              <th>Owner</th>
              <th>Status</th>
          </thead>
          <tbody>
              {{#each itemList}}
              {{#ifequals this.Record.status "In Factory"}}
              <tr>
                  <td>{{this.Key}}</td>
                  <td>{{this.Record.type}}</td>
                  <td>{{this.Record.description}}</td>
                  <td>{{this.Record.color}}</td>
                  <td>{{this.Record.ownedBy}}</td>
                  <td>{{this.Record.status}}</td>
                  <td><button class="btn btn-success filled" onClick="getMatchingOrders('{{this.Key}}');">Get Matching Orders</button></td>

              </tr>
              {{/ifequals}}
              {{/each}}
          </tbody>
      </table>
  </div> 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12"></div>

    </div>
</div>
</br>

<script type="text/javascript" src='/javascripts/main.js'></script>

