<head>
    <div class="px-3 py-2 bg-secondary text-white">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
            {{title}}          
            </h2>
        <a type="button" href="/manufacturer" class="btn btn-danger nav-link text-white filled">
        Back to Manufacturer Dashboard
        </a>
        <a type="button" href="/" class="btn btn-danger filled marginLeft" class="nav-link text-white">
        Logout
        </a>                    
        </div>
        </div>
    </div>
</head>
 
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="row">
            <div class="table-container">
                <table class="table" style="width:100%">
                    <thead id="colored-table">
                        <th>Order Id</th>
                        <th>Appliance Id</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Color</th>
                        <th>Dealer Name</th>
                        <th>AssetType</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each itemList}}
                        <tr>
                            <td>{{this.orderId}}</td>
                            <td>{{this.applianceId}}</td>
                            <td>{{this.type}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.color}}</td>
                            <td>{{this.dealerName}}</td>
                            <td>{{this.assetType}}</td>
                            <td><button class="btn btn-info filled" onClick="matchOrder('{{this.orderId}}','{{this.applianceId}}');">Match Order</button></td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src='/javascripts/main.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

